fastapi
uvicorn
requests
python-multipart
jinja2
boto3
google-cloud-vision
pytest
pytest-cov
python-dotenv
sqlalchemy
apscheduler
httpx
werkzeug
alembic
PyPDF2>=3.0.0
loguru>=0.7.0
psycopg2-binary
pydantic[email]
email-validator
redis>=4.0.0
opencv-python
pytesseract
pillow
opencv-python-headless
python-jose
passlib[bcrypt]
